{% extends "base.html.twig" %}

{% block content %}

    <div class="my-home-background"></div>
    
    <div class="my-home-container">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <H1>
                        Lemācies veidot lieliskas lietas kopā ar mums
                    </H1>
                    <div class="">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}