{% extends "base.html.twig" %}

{% block content %}

    <div class="my-home-container">
        
        <div class="my-home-background"></div>
        
        <div class="container-fluid">
            <div class="row white-block"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="my-main-add">
                        <H1>
                            Iemācies veidot 
                            <strong>lieliskas lietas</strong>
                            kopā ar mums
                        </H1>  
                    </div>

                    <div class="my-main-add-buttons">
                        <a class="btn my-btn-background-1" href="{{urlFor('textpage', {slug:'par-lapu'})}}">Par skolu</a>
                        <a class="btn my-btn-background-2" href="{{urlFor('study-list')}}">Programmas</a>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>

    </div>

{% endblock %}