{% extends "base.html.twig" %}

{% block pageTitle %}Programmas{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            
            <div id="outer_container" class="my-header">
                <div id="imagePan">
                    <div class="container">
                        <div><img src="/img/programmas_background.jpg" class="panning"></div>
                    </div>
                    <div class="yeah">
                        <br>
                        <h1>{{ programma.name }}</h1>
                        <div class="btn-group">
                            {% for programma in programmas %}
                            <button type="button" class="btn btn-default"><a href="#pk">{{programma.program_type}}</a></button>

                        {% endfor %}
                            </div> 
                    </div>  
                </div>
            </div>   
                            
                            
            <div class="col-md-12">
                {% for programma in programmas %}
                    
                    <h1><a href="{{urlFor('study', {slug: programma.slug})}}">{{ programma.name }}</a></h1>
                    
                {% endfor %}
             
            </div>
        </div>
    </div>
{% endblock %}