.my-navbar {
    background: rgba(255, 255, 255, 0.7);
    border: 0;
}
body {
    padding-top: @main-menu-height - 5px;
}

/* ========== MAIN MENU ========== */

.my-main-menu {
    .navbar-brand,
    .navbar-nav li a {
        line-height: @main-menu-height;
        height: @main-menu-height;
        color: @main-menu-font-color;
        padding-top: 0;
    }
    font-family: @font-family-ubuntu;
    font-size: @main-menu-font-size;

    .my-logo {
        background: url(../img/webskola_logo.svg) no-repeat center;
        background-size: 150px 26px;
        width: 210px;
    }
    .navbar-nav li a {
        padding-left:  20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .navbar-nav {
        > .active > a {
            &,
            &:hover,
                &:focus {
                color: #fd9350;
                background-color: rgba(255, 255, 255, 0.5);
                border-bottom: 5px solid #fd9350;
            }
        }
    }
}

/* ========== PROGRAMMAS SECTION STYLES ========== */

/* MOVING IMG */
#outer_container, #imagePan {
    height: 414px;
    width: 100%;
    
}
#outer_container {
    margin: 0 auto;
    position: relative;
}
#imagePan{
    position: relative;
    overflow: hidden;
}
#imagePan .container {
    position: relative;
    left: 0;
}
.yeah {
    z-index:1000;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    width:100%;
    margin-top:150px;
    h1 {
        color: #fff;
        font-size: 48px;
        font-weight: normal;
        font-family: noto serif web, serif;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    ul {
        display: inline-block;
        width:700px;
        height:50px;
        background: white;
        li {
            display:inline-block;
            margin: 0 20px;
        }
    }
    height: 70px
}

/* ========== MAIN MENU ========== */

.my-sticky-footer {

}
.my-social-links-container {
    background: #dedec5;
}
.my-social-links {
    text-align: center;

    .nav-pills {
        display: inline-block;

        > li {
            margin: 20px 0;

            // Links rendered as pills
            > a {
                width: 100px;
                height: 100px;
                line-height: 85px;
                border-radius: 50%;
                color: #959585;
                font-size: 36px;
                font-family: fontAwesome;
                text-align: center;
            }
            + li {
                margin-left: 2px;
            }
        }
    }
}

.my-footer-menu-container {
    background: #959585;
    text-align: center;
}
.my-copyrigt {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
}
.my-footer-border-line {
    border-top: 1px solid #adad9e;
}                        
.my-footer-menu {
    .nav-pills {
        display: inline-block;

        > li {
            // Links rendered as pills
            > a {
                padding: 20px 25px;
                width: 130px;
                border-radius: 0;
                color: #dedec8;
                font-size: @main-menu-font-size;
                font-family: @font-family-ubuntu;
                text-align: center;
            }
            + li {
                margin-left: 2px;
            }
        }
    }
}
.my-social-links,
.my-footer-menu {
    .nav {
        > li {
            > a {
                &:hover,
                    &:focus {
                    color: #fff;
                    text-decoration: none;
                    background-color: #A5A595;
                }
            }
        }
    }
}
