
.my-main-menu {
    .navbar-brand,
    .navbar-nav li a {
        line-height: @main-menu-height;
        height: @main-menu-height;
        color: @main-menu-font-color;
        padding-top: 0;
    }
    font-family: @font-family-ubuntu;
    font-size: @main-menu-font-size;
    
    .my-logo {
        background: url(../img/webskola_logo.svg) no-repeat center;
        background-size: 150px 26px;
        width: 210px;
    }
    .navbar-nav li a {
        padding-left:  20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .navbar-nav {
        > .active > a {
            &,
            &:hover,
                &:focus {
                color: #fd9350;
                background-color: rgba(255, 255, 255, 0.5);
                border-bottom: 5px solid #fd9350;
            }
        }
    }

}
