/* === BODY === */
body {
    font: normal 15px/1.3 pt serif web, serif;
    padding-top: @main-menu-height - 5px;
}

/* ========== MAIN MENU ========== */
.my-navbar {
    background: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid #888;
    &:hover {
        background: #fff;
    }
}

.my-main-menu {
    .navbar-brand,
    .navbar-nav li a {
        line-height: @main-menu-height;
        height: @main-menu-height;
        color: @main-menu-font-color;
        padding-top: 0;
    }
    font-msize: @main-menu-font-size;

    .my-logo {
        background: url(../img/webskola_logo.svg) no-repeat center;
        background-size: 150px 26px;
        width: 210px;
    }
    .navbar-nav li a {
        padding-left:  20px;
        padding-right: 20px;
        padding-bottom: 5px;
        &:hover {
            color:#bfb83f;
        }
    }
    .navbar-nav {
        > .active > a {
            &,
            &:hover,
                &:focus {
                color: #fd9350;
                background-color: rgba(255, 255, 255, 0.5);
                border-bottom: 5px solid #fd9350;
            }
        }
    }
}

/* ========== PROGRAMMAS SECTION ========== */
.my-wrapper {
    width:970px;
    margin: auto;
    text-align: center;
}
.my-container {
    margin:0;
    width:100%;
}

.no-decoration, a:link, a:visited {
    text-decoration: none;
}

/* MOVING IMG */
#outer_container, #imagePan {
    height: 414px;
    width: 100%;

}
#outer_container {
    margin: 0 auto;
    position: relative;
}
#imagePan{
    position: relative;
    overflow: hidden;
}
#imagePan .panning-container {
    position: relative;
    left: 0;
}

#imagePan::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../assets/simple_dashed.png);
}

.imagePan-menu {
    z-index:1000;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    width:100%;
    margin-top:150px;
    h1 {
        color: #fff;
        font-size: 48px;
        font-weight: normal;
        font-family: Noto Serif, serif;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    h3 {
        color: #fff;
        font-size: 24px;
        font-weight: normal;
        font-family: Noto Serif, serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .my-program-btn-group {
        margin: 25px 0 0;
        position: relative;
        z-index: 10;
    }
    .my-program-button {
        border: 1px solid #fff;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.5s;
        padding: 22px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        a {
            .no-decoration;

            font-family: @font-family-ubuntu, sans-serif;
            font-weight: 100;
            font-size: 16px;
            color: #666;

        }
        &:hover {
            a {
                color: #fff;
            }
            .no-decoration;
            background: transparent;
            text-shadow: 0 1px 2px rgba(0,0,0,0);
        }   
    }
}

.program-box {
    background: #fff;
    display: inline-block;
    vertical-align:top;
    width: 310px;
    min-height: 240px;
    overflow: hidden;
    text-align:center;
    padding: 20px 2% 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    img {
        width: 64px;
        height: 64px;
        margin: 10px 0;
    }
    h3 {
        font-family: @font-family-ubuntu, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #43402c;
    }
    h5 {
        margin-top: 10px;
        margin-bottom: 0;
        color: black;
        line-height: 1.3;
        font-size:15px;
    }
    &:hover {
        background: #f1f1e8;
    }
}
.programma-type-container {
    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 1;
    display:block;
    margin:20px 0;
    .programma-type {
        font-family: @font-family-ubuntu, sans-serif;
        font-weight: 100;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #a0a0a0;
        display: inline-block;
        background-color: white;
        position: relative;
        bottom: -5px;
        padding: 0 10px;
        margin: 0;
        line-height: 1.5;
    }
}

.anchor-fix {
    position:relative;
    top:-100px;
}

/* ========== FOOTER ========== */

.my-sticky-footer {

}
.my-social-links-container {
    background: #dedec5;
}
.my-social-links {
    text-align: center;
    .nav-pills {
        display: inline-block;

        > li {
            margin: 20px 0;

            // Links rendered as pills
            > a {
                width: 100px;
                height: 100px;
                line-height: 85px;
                border-radius: 50%;
                color: #959585;
                font-size: 36px;
                font-family: fontAwesome;
                text-align: center;
            }
            + li {
                margin-left: 2px;
            }
        }
    }
}

.my-footer-menu-container {
    background: #959585;
    text-align: center;
}
.my-copyrigt {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
}
.my-footer-border-line {
    border-top: 1px solid #adad9e;
}                        
.my-footer-menu {
    .nav-pills {
        display: inline-block;

        > li {
            // Links rendered as pills
            > a {
                padding: 20px 25px;
                width: 130px;
                border-radius: 0;
                color: #dedec8;
                font-size: @main-menu-font-size;
                font-family: @font-family-ubuntu;
                text-align: center;
            }
            + li {
                margin-left: 2px;
            }
        }
    }
}
.my-social-links,
.my-footer-menu {
    .nav {
        > li {
            > a {
                &:hover,
                    &:focus {
                    color: #fff;
                    text-decoration: none;
                    background-color: #A5A595;
                }
            }
        }
    }
}

/* ========== LANDING PAGE ========== */

.my-home-background {
    position: absolute;
    z-index: -5;
    background-image: url(../img/background.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
.my-home-container {
    position: relative;
    text-align: center;

    .white-block {
        display: block;
        background-color: #fff;
        min-height: @main-menu-height;
        margin-top: -@main-menu-height;
    }
    .my-main-add {
        color: #fff;
        font-family: @font-family-francois;
        text-transform: uppercase;
        text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
        padding-top: 30px;

        > h1 {
            line-height: 0.9;
            font-size: 97px;
        }
        > h1:first-line {
            font-size: 89px;
        }
        > h1 > strong {
            display: block;
            font-weight: normal;
            font-size: 227px;
        }
        > h1 strong:first-line {
            font-size: 149px;
        }
    }
    .my-main-add-buttons {
        padding-bottom: 30px;

        .my-btn-background-1 {background: #88852d;}
        .my-btn-background-2 {background: #fa951a;}

        > a {
            font-family: @font-family-ubuntu;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 5px;
            border: 2px solid white;
            padding: 15px 45px;
            margin: 10px;
        }
        > a:hover {
            background: transparent;
            text-shadow: 1px 1px rgba(0,0,0,0.5);
        }
    }
}
.my-events-bg {
    background: #fff;
    padding-bottom: 30px;
}
.my-events-header {
    max-width: 940px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.latest-blog-post-box {
    display: inline-block;
    vertical-align:top;
    width: 310px;

    min-height: 240px;
    overflow: hidden;
    text-align:center;
    padding: 20px 2% 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    h3 {
        font-family: @font-family-ubuntu, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #43402c;
    }
    h5 {
        margin-top: 10px;
        margin-bottom: 0;
        color: black;
        line-height: 1.3;
        font-size:15px;
    }
    &:hover {
        background: #f1f1e8;
    }
}

/* ==========  TEXT PAGE ========== */

.pagesubtitle {
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.article {
    padding: 15px 0 0;
    line-height: 1.6;
    .article-container {
        max-width: 940px;
        padding: 0 30px;
        margin: auto;
        position: relative;
    }
}

/* ----- PARTNERS ----- */

.content-header {
    border: 1px solid #bfb83f;
    border-width: 0 0 1px;
    text-align: center;
    margin: 0 0 30px;    
    h2 {
        display: inline-block;
        color: #bfb83f;
        background-color: #fff;
        text-align: center;
        font-family: @font-family-ubuntu;
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        bottom: -13px;
        padding: 0 10px;
        margin: 10px 0 0;
    }
}

.two-rows {
    h2 {
        font-size: 18px;
        line-height: 1.3;
        bottom: -9px;
        margin: 20px 0 0;
        &:first-line {
            font-size: 30px;
        }
    }
}

.partners-list {
    text-align: center;
    font-size: 0;
    padding: 0 5%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    a {
        display: inline-block;
        width: 150px;
        display: block;
        -webkit-box-flex: 150px;
        -moz-box-flex: 150px;
        box-flex: 150px;
        -webkit-flex: 150px;
        -moz-flex: 150px;
        -ms-flex: 150px 0 auto;
        flex: 150px;
        margin: 20px 20px;
        padding: 20px;
        font-size: 13px;
        vertical-align: middle;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-position: center;
    }
    a img:hover {
        opacity: 0;
    }
}

/* ----- ABOUT US ----- */

.article-intro {
    font-size: 24px;
    color: #000;
}

.article-bodytext {
    margin: 20px 0;
    font-size: 18px;
    h2 {
        font-size: 28px;
        color: #b4a700;
    }
    a {
        &:link, &:visited {           
            text-decoration: none;
            color: #898230;
            border-bottom: 1px solid #89813f;
            transition: all 0.5s;
        }
        &:hover, &:active{
            color: #bfb83f;
            border-bottom-color: #eeebd9;
        }
    }
}

/* ----- CONTACTS ----- */

.contacts {
    padding: 20px 0 50px;
    table {
        margin: auto;
        table-layout: fixed;
        width: 75%;
        border-color: gray;
        border-spacing: 2px;
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr:first-child {
                border-top: 0;
            }
            tr {
                border: 1px dashed #ccc;
                border-width: 1px 0 0;
                th, td {
                    padding: 10px;
                    vertical-align: top;
                }
                th {
                    text-align: right;
                    color: #555;
                    font: normal 15px/1.3 pt serif web,serif;
                }
                td {
                    font: normal 15px/1.3 pt serif web,serif;
                    color: #000;
                    a {
                        &:link, &:visited {
                            color: #898230;
                            text-decoration: none;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            transition: all 0.5s;
                        }
                        &:hover, &:active {                        
                            color: #bfb83f;
                            text-decoration: none;
                        }
                    }
                    ul {                   
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}

/* font-face */

@font-face {
    font-family: entypo web;
    font-style: normal;
    font-weight: normal;
    src: url(../assets/entypo_draugiem.eot);
    src: url(../assets/entypo_draugiem.eot?iefix) format("embedded-opentype"),
        url(../assets/entypo_draugiem.ttf) format("truetype"),
        url(../assets/entypo_draugiem.woff) format("woff"),
        url(../assets/entypo_draugiem.svg#entypo_draugiem) format("svg"); }
@font-face {
    font-family: pt serif web;
    font-style: normal;
    font-weight: normal;
    src: url(../assets/pt_serif-regular.eot);
    src: url(../assets/pt_serif-regular.eot?iefix) format("embedded-opentype"),
        url(../assets/pt_serif-regular.ttf) format("truetype"),
        url(../assets/pt_serif-regular.woff) format("woff"),
        url(../assets/pt_serif-regular.svg#pt_serif-regular) format("svg"); }
@font-face {
    font-family: pt serif web;
    font-style: normal;
    font-weight: bold;
    src: url(../assets/pt_serif-bold.eot);
    src: url(../assets/pt_serif-bold.eot?iefix) format("embedded-opentype"),
        url(../assets/pt_serif-bold.ttf) format("truetype"),
        url(../assets/pt_serif-bold.woff) format("woff"),
        url(../assets/pt_serif-bold.svg#pt_serif-bold) format("svg"); }
@font-face {
    font-family: pt serif web;
    font-style: italic;
    font-weight: normal;
    src: url(../assets/pt_serif-italic.eot);
    src: url(../assets/pt_serif-italic.eot?iefix) format("embedded-opentype"),
        url(../assets/pt_serif-italic.ttf) format("truetype"),
        url(../assets/pt_serif-italic.woff) format("woff"),
        url(../assets/pt_serif-italic.svg#pt_serif-italic) format("svg"); }
@font-face {
    font-family: pt serif web;
    font-style: italic;
    font-weight: bold;
    src: url(../assets/pt_serif-bolditalic.eot);
    src: url(../assets/pt_serif-bolditalic.eot?iefix) format("embedded-opentype"),
        url(../assets/pt_serif-bolditalic.ttf) format("truetype"),
        url(../assets/pt_serif-bolditalic.woff) format("woff"),
        url(../assets/pt_serif-bolditalic.svg#pt_serif-bolditalic) format("svg"); }
@font-face {
    font-family: ubuntu condensed web;
    font-style: normal;
    font-weight: normal;
    src: url(../assets/ubuntu_condensed-regular.eot);
    src: url(../assets/ubuntu_condensed-regular.eot?iefix) format("embedded-opentype"),
        url(../assets/ubuntu_condensed-regular.ttf) format("truetype"),
        url(../assets/ubuntu_condensed-regular.woff) format("woff"),
        url(../assets/ubuntu_condensed-regular.svg#ubuntu_condensed-regular) format("svg"); }
@font-face {
    font-family: exo web;
    font-style: normal;
    font-weight: 100;
    src: url(../assets/exo2-thin.eot);
    src: url(../assets/exo2-thin.eot?iefix) format("embedded-opentype"),
        url(../assets/exo2-thin.ttf) format("truetype"),
        url(../assets/exo2-thin.woff) format("woff"),
        url(../assets/exo2-thin.svg#exo2-thin) format("svg"); }
@font-face {
    font-family: scada;
    font-style: normal;
    font-weight: bold;
    src: url(../assets/scada-bold.eot);
    src: url(../assets/scada-bold.eot?iefix) format("embedded-opentype"), 
        url(../assets/scada-bold.ttf) format("truetype"), 
        url(../assets/scada-bold.woff) format("woff"), 
        url(../assets/scada-bold.svg#scada-bold) format("svg"); }