{% block footer %}
    
    <div class="container my-sticky-footer">
        <div class="my-social-lnks">
            <div class="">
                <ul class="nav nav-pills">
                    <li><a href="#"><i class="fa fa-camera-retro"></i></a></li>
                    <li><a href="#">tw</a></li>
                    <li><a href="#">f</a></li>
                    <li><a href="#">g+</a></li>
                    <li><a href="#">in</a></li>
                </ul>
            </div>
        </div>
        <div class="">
            <div class=""></div>
            <div class=""></div>
        </div>
    </div>
    
{% endblock %}