{% block footer %}

    <div class="my-sticky-footer">

        <div class="my-social-links-container">
            <div class="container my-social-links">
                <ul class="nav nav-pills">
                    <li><a href="#">&#xf167;</a></li>
                    <li><a href="#">&#xf099;</a></li>
                    <li><a href="#">&#xf09a;</a></li>
                    <li><a href="#">&#xf0d5;</a></li>
                    <li><a href="#">&#xf0e1;</a></li>
                </ul>
            </div>
        </div>

        <div class="my-footer-menu-container">
            <div class="container my-copyrigt">
                <p>
                    <strong>&copy; Webskola</strong>
                </p>
                <p>
                    Profesionāla izglītība web tehnoloģiju un dizaina jomā.
                </p>
            </div>
            <div class="container my-footer-menu">
                <div class="col-md-10 col-md-offset-1 my-footer-border-line">
                    <ul class="nav nav-pills">
                        <li><a href="{{urlFor('study')}}">Programmas</a></li>
                        <li><a href="{{urlFor('blog')}}">Blogs</a></li>
                        <li><a href="{{urlFor('textpage', {slug:'par-lapu'})}}">Par skolu</a></li>
                        <li><a href="#">Partneri</a></li>
                        <li><a href="#">Kontakti</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}